:root {
  --dark: #322d4a;
  --shadow: #1d223b;

  --primario: rgb(214, 12, 143);
  --second: rgb(252, 22, 68);
  --terceira: rgb(255, 115, 30);
  --quarta: rgb(255, 189, 0);

  --background4: #D9D9D9;
  --background3: #D0D0D0;
  --background2: #ffffff;
  --background: #ececec;
  --background1: #f5f5f5;
}
